/* @theme liquidjs */

@import 'default';

section .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

section .brand img {
  width: 96px;
  height: 96px;
  margin: 0;
}

section .brand h1 {
  margin: 0;
  border-bottom: none;
  padding-bottom: 0;
}
